*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  font-size: 3rem;
  background-color: black;
  color: whitesmoke;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

a,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.container {
  max-width: 100%;
  width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

.slick-dots li button:before {
  font-size: 10px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

svg {
  display: block;
}