{% extends 'layout.html' %} 

{% block title %} 
  Posts
{% endblock%} 

{% block content %}
  <section>
    <div class="container">
      <h1 class="title">Posts</h1>
      
      <div class="wrapper">
        {% for post in posts %}
          <article class="post">
            <h2 class="subtitle">
              <a class="link" href="{% url 'posts:page' slug=post.slug %}">
                {{ post.title }}
              </a>
            </h2>
            <p class="date">{{ post.date }}</p>
            <p class="text">{{ post.body }}</p>
          </article>
        {% endfor%}
      </div>
    </div>
  </section>
{% endblock%}
